In [2]:
import csv
import pandas as pd
Buses=pd.read_csv('C:\\Users\\hanno\\OneDrive\\Documents\\Custom Office Templates\\ip_project.csv',index_col=0)
Buses

,Bus_No,Passenger_Name,Phone_No,Aadhar_No,No_Of_Passenger,Destination_From,Destination_To,Duration,Seat_Type,Price
Passenge_No,,,,,,,,,,
1,101,Lal Patel,6986533598,727783774214,1,Coimbatore,Amritsar,18 hours,Standard,1300
2,126,Raj,8368609044,684932071480,3,Chennai,Bangalore,7 hours,Luxury,8100
3,126,Tom,4753819025,739201739021,2,Chennai,Bangalore,7 hours,Sleeper,3000
4,126,Sohan,9025671936,860262959217,1,Chennai,Bangalore,7 hours,Standard,700
5,112,Rahul,9015782340,748102351967,4,Kannyakumari,Coimbatore,7 hours,Luxury,10000
6,112,Shiva,7391024517,931629017891,1,Kannyakumari,Coimbatore,7 hours,Standard,600
7,132,Raju,7910347196,201789174516,2,Kochi,Trivandrum,7 hours,Recline,2200
8,132,Seetha,6801537198,820185610927,1,Kochi,Trivandrum,7 hours,Standard,750
9,108,Abdul,9103728547,759014276018,6,Thirunelveli,Madurai,3 hours,Standard,2400
10,122,Abraham,2710561839,371058201592,1,Mumbai,Bangalore,10 hours,Luxury,3000
11,122,Reeta,9016278156,515378915379,2,Mumbai,Bangalore,10 hours,Standard,1800
12,122,Jesica,8102574193,679203518946,1,Mumbai,Bangalore,10 hours,Standard,900
13,129,Abdula,8301839173,901253747629,3,Trivandrum,Ernakulam,5 hours,Recline,3300
14,116,Ahmed,8309830273,282497347836,1,Hyderabad,Pune,10 hours,Standard,1000
15,119,Raja,7370973732,283133239737,3,Goa,Mumbai,10 hours,Luxury,10500
16,112,Rohan,7249990647,975860260296,2,Kannyakumari,Coimbatore,7 hours,Sleeper,1800
17,119,Sona,6274698018,712906016364,3,Goa,Mumbai,10 hours,Luxury,9000
18,143,Shawn,6462426877,698576452146,1,Kollam,Trivandrum,5 hours,Recline,900
19,119,Aravind,6473811762,995978396293,2,Goa,Mumbai,10 hours,Sleeper,2600
20,108,Chris,8265363278,689034606558,1,Thirunelveli,Madurai,3 hours,Standard,400
21,116,Satheesh,6598368296,982602629475,2,Hyderabad,Pune,10 hours,Standard,1000
22,143,Anshad,6489692684,479202598849,3,Kollam,Trivandrum,5 hours,Standard,2100
23,132,Sam,5428482718,638103635578,1,Kochi,Trivandrum,7 hours,Recline,1100
24,129,John,6587555344,579076434279,2,Trivandrum,Ernakulam,5 hours,Recline,2200
25,129,Rajesh,6462620187,823659371029,5,Trivandrum,Ernakulam,5 hours,Standard,3500